<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RelatoriosRosset</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RelatoriosRosset.styles.css" asp-append-version="true" />
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HOME</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" id="comercialDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                COMERCIAL
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="comercialDropdown">
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="VendasProdutos" asp-action="VendasProdutos">Consulta de Vendas Por Produtos Próprias</a>

                                    <a class="dropdown-item" asp-area="" asp-controller="VendasProdutosF" asp-action="VendasProdutosF">Consulta de Vendas Por Produtos Franquias</a>

                                    <a class="dropdown-item" asp-area="" asp-controller="LojaVenda" asp-action="LojaVenda">Consulta de Vendas Diária Próprias</a>

                                    <a class="dropdown-item" asp-area="" asp-controller="LojaVendaF" asp-action="LojaVendaF">Consulta de Vendas Diária Franquias</a>

                                    <a class="dropdown-item" asp-area="" asp-controller="VendasOmniP" asp-action="VendasOmniP">Consulta de Vendas Omni Próprias</a>

                                    <a class="dropdown-item" asp-area="" asp-controller="VendasOmniF" asp-action="VendasOmniF">Consulta de Vendas Omni Franquias</a>

                                    <a class="dropdown-item" asp-area="" asp-controller="FiliaisAtivasP" asp-action="FiliaisAtivasP">Lojas Ativas Próprias</a>

                                    <a class="dropdown-item" asp-area="" asp-controller="FiliaisAtivasF" asp-action="FiliaisAtivasF">Lojas Ativas Franquias</a>

                                    <a class="dropdown-item" asp-area="" asp-controller="NotasDevP" asp-action="NotasDevP">Notas de Devolução Próprias</a>

                                    <a class="dropdown-item" asp-area="" asp-controller="NotasDevF" asp-action="NotasDevF">Notas de Devolução Franquias</a>

                                    <a class="dropdown-item" asp-area="" asp-controller="NotasVendasOmniP" asp-action="NotasVendasOmniP">Notas de Venda Omni Próprias</a>

                                    <a class="dropdown-item" asp-area="" asp-controller="NotasVendasOmniF" asp-action="NotasVendasOmniF">Notas de Venda Omni Franquias</a>

                                    <a class="dropdown-item" asp-area="" asp-controller="EANPorSaida" asp-action="EANPorSaida">Gera EANs Por Saídas</a>

                                    <a class="dropdown-item" asp-area="" asp-controller="GeraCargaProprias" asp-action="GeraCargaProprias">Gera Carga Para Inventário Próprias</a>

                                    <a class="dropdown-item" asp-area="" asp-controller="GeraCargaFranquias" asp-action="GeraCargaFranquias">Gera Carga Para Inventário Franquias</a>

                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" id="comercialDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                CONTROLADORIA
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="comercialDropdown">
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="EstoqueEAN" asp-action="EstoqueEAN">Consulta de Estoque (EAN)</a>

                                    <a class="dropdown-item" asp-area="" asp-controller="EstoqueEANLojas" asp-action="EstoqueEANLojas">Consulta de Estoque por Loja (EAN)</a>

                                    <a class="dropdown-item" asp-area="" asp-controller="CustoLojas" asp-action="Index">Custo EAN por Loja</a>

                                    <a class="dropdown-item" asp-area="" asp-controller="CustoMatriz" asp-action="CustoMatriz">Custo EAN por Matriz</a>

                                    <a class="dropdown-item" asp-area="" asp-controller="LivroEntrada" asp-action="LivroEntrada">Livro de Entradas</a>

                                    <a class="dropdown-item" asp-area="" asp-controller="LivroSaida" asp-action="LivroSaida">Livro de Saídas</a>

                                    <a class="dropdown-item" asp-area="" asp-controller="GerarProdutoHistorico" asp-action="Index">Gera Saldo Histórico</a>

                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" id="comercialDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                FISCAL
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="comercialDropdown">
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="SaidasF" asp-action="SaidasF">Consulta de Saídas</a>

                                    <a class="dropdown-item" asp-area="" asp-controller="EntradasF" asp-action="EntradasF">Consulta de Entradas</a>

                                    <a class="dropdown-item" asp-area="" asp-controller="TicketsNotas" asp-action="TicketsNotas">Consulta de Tickets e Notas</a>

                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" id="comercialDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                FINANCEIRO
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="comercialDropdown">
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="LojaCaixaCartao" asp-action="LojaCaixaCartao">Consulta de Vendas Cartão</a>

                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" id="comercialDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                API LINX
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="comercialDropdown">
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Fiscal" asp-action="Fiscal">FISCAL</a>

                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - RelatoriosRosset - <a asp-area="" asp-controller="Home" asp-action="Index">Rosset Group</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
